* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.column {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.column-second {
    width: calc(100% / 2);
}

.column-third {
    width: calc(100% / 3);
}

#main {

}

#header {
    height: 46.5px;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav li a {
    text-decoration: none;
    padding: 0 24px;
}

#nav > li > a {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    line-height: 46.5px;
}

#nav li:hover {
    background-color: #fff;
}

#nav > li:hover > a {
    color: #000;
}

#slider {
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider2.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    padding: 32px 16px 47px;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 32px;
    padding-bottom: 25px;
}

#slider .text-description {
    font-size: 24px;
}

#content {

}

#content .film-section {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px 96px;
}

#content .film-heading {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    padding: 10px 0px 25px;
    text-align: center;
}

#content .film-body {
    text-align: justify;
    line-height: 22.5px;
    padding: 0 0 8px;
}

#content .film-product {
    line-height: 22.5px;
    padding: 8px 0;
}

#content .content-img {
    width: 100%;
}

#content-main {
    background-color: #000;
    display: block;
}

#content-main .story-section {
    text-align: justify;
    line-height: 22.5px;
    color: #fff;
}

#content .member-img {
    width: 250px;
    padding: 32px 0 8px;
    border-radius: 5px;
}

#content .member-name {
    font-size: 16px;
    padding: 15px;
    opacity: 0.7;
    font-style: italic;
}

#content-sub-character {
    background-color: #000;
}

#content .sub-member-name {
    font-size: 16px;
    padding: 15px;
    color: #fff;
    font-style: italic;
}

#about .film-sub-heading {
    text-align: center;
    font-style: italic;
    font-size: 15px;
    opacity: 0.6;
}

#about .author-name {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    color: #7f3f00;
    font-size: 32px;
    padding: 24px 0;
}

#about .right-info {
    border-left: #7f3f00 solid 5px;
}

#about .info-content i[class*="ti-"] {
    display: inline-block;
    width: 20px;
    font-size: 15px;
}

#about .info-content {
    padding-bottom: 8px;
}

#about .info-heading {
    padding: 16px 0;
    font-size: 24px;
}

#about .main-skill {
    font-style: italic;
    color: #696969;
    text-decoration: underline;
    padding-bottom: 8px;
    font-size: 15px;
}

#about .sub-skill > li {
    font-size: 15px;
    padding: 0 16px 8px;
    list-style-type: none;
}

#about .author-edu {
    font-size: 15px;
    padding-bottom: 8px;
}

#about .uni-name {
    font-weight: bold;
    font-style: italic;
}

#about .company-name {
    font-size: 15px;
    padding-bottom: 8px;
    font-style: italic;
}

#about .time {
    font-size: 14px;
    font-style: italic;
    opacity: 0.6;
    padding-bottom: 8px;
}

#about .position {
    font-size: 15px;
    padding-bottom: 8px;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    text-decoration: none;
    color: #757575;
}

#footer .socials-list a:hover {
    opacity: 0.6;
}

#footer .footer-content {
    font-size: 15px;
    text-align: center;
}